@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --primary-color: #00471b;
  --secondary-color: #f0ebd2;
  --accent-color: #007dc5;
  --base-font-size: 16px;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  font-size: var(--base-font-size);
  line-height: 1.5;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.section-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

/* ! Hero Section */

.hero-section {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  overflow: hidden;
  padding: 0 16px;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  align-items: center;
  letter-spacing: 1px;
}

.hero-center {
  position: relative;
  text-align: center;
  align-self: end;
}

.headshot {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 200px;
  height: auto;
}

.logo {
  position: absolute;
  top: -45%;
  left: 25%;
  z-index: 1;
  opacity: 0.1;
  transform: scale(0.6);
}

.hero-left, .hero-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.hero-left h1, .hero-left h3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/*! Biography Section */

.bio-section {
  padding: 20px;
  background-color: #f4f4f9;
}

.bio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.bio-text {
  margin-bottom: 20px;
}

.bio-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

.bio-text p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.bio-social-links h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.bio-social-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.bio-social-links li {
  margin: 0;
}

.bio-social-links a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 8px;
}

.bio-social-links a i {
  font-size: 1.5rem;
  color: var(--accent-color);
}

.bio-social-links a:hover {
  text-decoration: underline;
}


/* ! Stats section */
.stats-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 20px;
}

.stats-container {
  background-color: #f4f4f9;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.stats-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.stats-img {
  width: 100%;
  border-radius: 10px;
}

.stats-sheet {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100px;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--primary-color);
}

.stats-bubble {
  text-align: center;
}

.stat {
  font-size: 1rem;
  font-weight: bold;
}

.stat h4 {
  margin-top: 5px;
  font-size: 1rem;
}

.arrow-toggle:hover {
  cursor: pointer;
}


/* ! Awards Section */

.awards-section {
  margin: 16px;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.awards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.award-card {
  width: 150px;
  height: 100px;
  position: relative;
  perspective: 1000px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.front {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.back {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  transform: rotateY(180deg);
}

.award-card:hover {
  cursor: pointer;
}

.award-card:hover .front {
  transform: rotateY(180deg);
}

.award-card:hover .back {
  transform: rotateY(0deg);
}

.award-card h3,
.award-card p {
  text-align: center;
}

/* ! Gallery Section */

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 50px auto;
  background-color: #f4f4f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel {
  position: relative;
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.carousel-description {
  font-size: 1rem;
  color: #333;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.carousel-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-btn:hover {
  background-color: var(--accent-color);
}

/* ! Footer Section */

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f4f4f9;
  color: #333;
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

/* ! Media Queries */

/* ? Tablet View */
@media (min-width: 600px) {
  :root {
    --base-font-size: 24px;
  }

  .hero-section {
    padding: 0 32px;
  }

  .hero-container {
    grid-template-columns: 3fr 3fr 2fr;
    gap: 24px;
  }

  .headshot {
    max-width: 250px;
  }

  .logo {
    top: -50%;
    transform: scale(0.7);
  }

  .stats-container {
    display: flex;
    justify-content: center;
  }

  .stats-wrapper {
    width: 50%;
  }

  .stats-img,
  .stats-sheet {
    width: 100%;
  }

  .stats-sheet {
    height: 150px;
  }

  .stat {
    font-size: 1.5rem;
  }

  .awards-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .award-card {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }
}

/* ? Desktop View */
@media (min-width: 1024px) {
  :root {
    --base-font-size: 30px;
  }

  .section-heading {
    font-size: 3rem;
  }
  .hero-section {
    padding: 0 120px;
  }

  .hero-container {
    grid-template-columns: 4fr 4fr 4fr;
    gap: 32px;
  }

  .hero-left, .hero-right {
    justify-content: start;
    align-items: center;
  }

  .headshot {
    max-width: 300px;
  }

  .logo {
    top: -55%;
    transform: scale(0.8);
  }

  .stats-container {
    display: flex;
    justify-content: center;
  }

  .stats-wrapper {
    width: 50%;
  }

  .stats-img,
  .stats-sheet {
    width: 100%;
  }

  .stats-sheet {
    height: 200px;
  }

  .stat {
    font-size: 1.75rem;
  }

.award-card h3,
.award-card p {
  font-size: 1.5rem;
}
}